html {
  font-size: 16px;
}

a, button, p {
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
}

h1, h2, h3, h4 {
  font-family: "Poppins", sans-serif;
}

h1, h2, h3 {
  font-weight: 800;
}

h4 {
  font-weight: 500;
  font-size: 1.5rem;
}

.display-3 {
  margin-top: 40px;
  margin-bottom: 15px;
  color: #211850;
  font-weight: 800;
}

p {
  line-height: 175%;
  color: #282832;
  font-size: 1.125rem;
}

.btn-primary {
  background-color: #3482DF;
  font-weight: bold;
  font-size: 1.25rem;
  padding: 13px 34px;
  border-radius: 5px;
}

.btn-primary:hover {
  background-color: #3075ca;
}

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: '';
  position: absolute;
  width: 5px;
  background-color: #3482DF;
  top: 0;
  bottom: 0;
  left: -5%;
}

.timeline-circle::after {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  left: calc(-5% - 9px);
  background-color: white;
  border: 4px solid #3482DF;
  border-radius: 50%;
  z-index: 1;
}

.badge {
  margin-right: 5px;
}

nav {
  box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.05);
}

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link, .navbar-light .navbar-nav .nav-link, nav .nav-link:hover {
  color: #282832;
}

nav .nav-link {
  padding: 5px 22px !important;
  transition: 0.2s ease-in-out;
  margin-right: 20px;
}

nav .nav-link:hover {
  background-color: #f8f8f8;
}

nav .nav-link.active {
  background-color: #F2F2F2;
  border-radius: 10px;
}

main .background {
  background-image: url("img/backgroundImage.svg");
  background-size: cover;
  background-repeat: no-repeat;
}

.education-card {
  background-color: #f2f2f2;
  border: none;
  border-radius: 10px;
  padding: 20px 50px 35px;
  max-width: 367px;
  min-width: 300px;
  margin-bottom: 30px !important;
}

footer p {
  font-size: 1rem;
}

.margin-top-150 {
  margin-top: 150px;
}

.margin-top-120 {
  margin-top: 120px;
}

.margin-top-90 {
  margin-top: 90px;
}

.margin-top-60 {
  margin-top: 60px;
}

.margin-top-210 {
  margin-top: 210px;
}

@media only screen and (max-width: 991px) {
  #main-img {
      margin-top: 30px;
  }

  .background .container .row {
      margin-top: 0;
  }

  nav .nav-link {
      padding: 5px 0 !important;
  }

  nav .nav-link:hover {
      background-color: transparent;
  }
  
  nav .nav-link.active {
      background-color: transparent;
  }
}
